
.fred-scrollmenu {
  position: relative;
}

.fred-menu-wrapper {
  width:100%;
}


.fred-sideBar {
  width: 1%;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}

.fred-bar-wrapper {
  position: absolute;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.fred-bar {
  background-color: orange;
  height: 22px;
  width: 3px;

}

.fred-text {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  height: 100%;

}

.fred-image-wrap {
  width: 50%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.fred-image {
  width: 300px;
}



.fred-list {
  list-style: none;
  padding: 0pc
}

.fred-title {
  font-size: 1.2em;
}

.fred-subtext {
  height: 0px;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

}

/* add media queries */
.fred-subtext.activated {
  height: 300px;
  opacity: 1;

}


/* set height of fields, height ATM is arbitrary*/
.fred-subtext .fred-scrollmenu.activated {
  height: 100px;
}


/* Ignore following */
#header {
  height: 800px;
  display: block;
  width: 100%;
}

#footer {
  height: 1400px;
}